<!--Homepage-->

<header class="header">
    <h4 class="wpScrape">Welcome to Washington Post Headlines</h4>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <nav class="button-group">
                    <button class="button-dark" id="scrape" data-toggle="modal">Scrape New Articles</button>
                    <a href="/articles/viewSaved"><button class="button-dark" id="viewSaved">View Saved
                            Articles</button></a>
                </nav>

            </div>
        </div>
    </nav>
</header>
{{#each articles}}
  {{#unless saved}}
    <figure class="storyPanel clearfix">
      <a href="{{storyUrl}}" class="pull-right" target="_blank">
        <div class="imgBox">
          <img src="{{imgUrl}}" alt="" class="storyImg" height="150">
        </div>
      </a>
      {{#if storyUrl}}
        <a href="{{storyUrl}}" class="storyLink" target="_blank">
          <h2 class="storyHeadline">{{headline}}</h2>
        </a>
      {{else}}
        <h3 class="storyHeadline">{{headline}}</h3>
      {{/if}}
      <h5 class="storyByline">{{byLine}}</h5>
      <h6 class="storySummary">{{summary}}</h6>
      <button class="storyButton" id="saveArticle" data-id="{{_id}}">Save Article</button>
    </figure>
  {{/unless}}
{{/each}}

{{!-- Modal for alerting number of scraped articles --}}
<div id="alertModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h2>You have scraped <span id="numArticles"></span> new articles</h2>
      </div>
    </div>
  </div>
</div>

{{!-- error modal --}}
<div id="error" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h2>There was an error processing your request.  Please try again later.</h2>
      </div>
    </div>
  </div>
</div>










{{!-- <div class="container">
    <div class="col-md-12 jumbotron">
        <div class="text-center">
            <h1> {{ title }} </h1>
            <p>Welcome to {{ title }}</p>
        </div>
    </div>
    <div class="col-md-12">
        {{#if article}}
        {{#each article}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{this.headline}}</h4>
            </div>
            <div class="panel-body">
                <p> {{this.blurb}}</p>
                <a href={{this.link}} target="_blank">{{this.link}}</a>
                <br><br>
                <button type="button" class="btn btn-success save" data-id={{this._id}}>Save Article</button>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Sorry, there are no new articles at the moment.</h4>
            </div>
        </div>
        {{/if}}
    </div>
</div> --}}